.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    height: 70vh;
    scroll-behavior: smooth;
    background-color: salmon;
    border-radius: 5px;
    justify-content: space-around;
}

.letra {
    color: black;
}

.layout {
    background-color: lightslategrey;
}