.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    height: 70vh;
    scroll-behavior: smooth;
    background-color: lightgrey;
    border-radius: 5px;
    justify-content: space-around;
}

.letra {
    color: black;
}

.layout {
    background-color: lightslategrey;
}

.searchDiv {
    width: 80%;
    justify-content: center;
    height: max-content;
    align-items: center;
    text-align: center;
    margin: 10px;
}