<div class="card" style="--color: {{color}}">
    <span class="header">
       # {{data.num}} - {{data.name}}
    </span>
    <div class="image">
        <img src={{data.img}}>
    </div>
    <div class="description">
        Type:
        <div class="fields">
            <span class="tag" *ngFor="let type of data.type">
                {{type}}
            </span>
        </div>
        weaknesses:
        <div class="fields">
            <span class="tag" *ngFor="let type of data.weaknesses">
                {{type}}
            </span>
        </div>
    </div>
</div>