<div class="card" style="--color: {{color[0]}}">
    <span class="header">
       # {{data.num}} - {{data.name}}
    </span>
    <div class="image">
        <img src={{data.img}}>
    </div>
    <div class="description" (click)="toggle()" *ngIf="box">
        Type:
        <div class="fields">
            <span class="tag" *ngFor="let type of data.type; let i=index" style="--color: {{color[i]}}">
                {{type}}
            </span>
        </div>
        weaknesses:
        <div class="fields">
            <span class="tag" *ngFor="let type of data.weaknesses; let i=index" style="--color: {{colorWeak[i]}}">
                {{type}}
            </span>
        </div>
    </div>
    <div class="description" (click)="toggle()" *ngIf="!box">
        <span class="infoBox">
            Peso: {{data.weight}}
        </span>
        <span class="infoBox">
            altura: {{data.height}}
        </span>
        <div style="margin: 5px;">
            <span class="prev infoBox">
                -----
            </span>
            <span class="next infoBox">
                -----
            </span>
        </div>
    </div>
</div>