.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color);
    border-radius: 10px;
    margin: 10px;
    height: min-content;
    width: 250px;
    padding: 5px;
}

.header {
    width: 95%;
    height: min-content;
    margin: 2px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.image {
    height: max-content;
}

.description {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: max-content;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    width: 80px;
    background-color: var(--color);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    margin: 2px;
}